
<%#raise @user_pending.inspect%>
<div class="faq">
  <div class="container">
    <div class="row" style="margin-top:150px;">
      <div class="span12">
       <p>
          <%unless @groups.present?%>
          <%= link_to 'New Group', new_group_path%>
          <%end%>
       </p>
        <h1>Search Result</h1>

        <table width="100%" border="0" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= "Group name" %></th>
              
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group|%>
              <tr>
                <td><%= group.group_name rescue nil %></td>
                
                <td><%= link_to 'Add Member',new_group_membership_path(:group_id=>group.id) %></td>
                <!-- <td><%= link_to 'Edit', edit_group_path(group) %></td> -->
                <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </div>
</div>
