<%= form_for(elder_video) do |f| %>
  <% if elder_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elder_video.errors.count, "error") %> prohibited this elder_video from being saved:</h2>

      <ul>
      <% elder_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <div class="field">
    <%= f.label 'Video' %>
    <%= f.file_field :video %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

